# Terraform local state & caches
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive runtime config
terraform.tfvars
*.tfvars
backend.hcl

# Keys / certs / creds
*.pem
*.key
*.p12
*.cer
*.crt
*.der
*.jks
*.kube/config
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Archives
*.zip
*.tar.gz
